body {
  font-family: 'Lora', serif;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
}

a {
  color: #F7CA18;
  text-decoration: none;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}

a:hover {
  color: #000;
  text-decoration: none;
}

a.active {
  color: #000;
}

.page-title h1 {
  font-size: 4.2em;
}

.page-title {
  padding: .3em;
  border-bottom: 3px solid #F7CA18;
  margin: 9em auto;
}

.icon-nav i {
  position: absolute;
  top: -.7em;
  left: -.8em;
}

#page {
  margin-top: 5.5em;
}

.article {
  margin-bottom: 6em;
}

.info {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  border-bottom: 3px solid #F7CA18;
  padding: 2em 0em;
  margin: 2em auto;
  color: #F7CA18;
}

.borderless {
  border: 0;
}

img.post-view {
  width: 100%;
  margin-bottom: 3em;
  border-radius: .5em;
  -moz-border-radius: .5em;
  -webkit-border-radius: .5em;
}

ul.category-list {
  color: #F7CA18;
  list-style: none;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
}

i.fa {
  margin-right: .2em;
}

.pager {
  text-align: center;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
}
.pager .page {
  border: 2px solid #F7CA18;
  display: inline-block;
  padding: .4em;
  width: 24px;
  margin: 1px;
  margin-bottom: 3em;
  border-radius: .5em;
  -moz-border-radius: .5em;
  -webkit-border-radius: .5em;
}

.pager a {
  background-color: #F7CA18;
  color: #000;
}

.pager a:hover {
  background-color: #FFF;
  color: #000;
}

input[type], textarea {
  border: 3px solid #f1f1f1;
  background: #f1f1f1;
  font-size: 1em;
  font-family: 'Lora', serif;
  color: #999;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  padding: 2em;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
  border-radius: .5em;
  -moz-border-radius: .5em;
  -webkit-border-radius: .5em;
}

input[type]:focus, textarea {
  border: 3px solid #F7CA18;
  color: #000;
  background: #fff;
}

.form-item-loader {
  display: none;
}
